@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600");
@font-face {
  font-family: "Biko";
  src: url("../font/Biko_Regular.otf") format("opentype"); }
html, body {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: "Open Sans";
  background: #ffffff;
  color: #222222; }
  html section, html div, body section, body div {
    position: relative; }

.biko {
  font-family: "Biko"; }

a {
  color: #6ebe45;
  text-decoration: none;
  transition: all 300ms;
  -ms-transition: all 300ms;
  -webkit-transition: all 300ms; }
  a:hover {
    color: #222222;
    text-decoration: none;
    transition: all 300ms;
    -ms-transition: all 300ms;
    -webkit-transition: all 300ms; }

b {
  font-weight: 600; }

nav.navbar.navbar-inverse {
  background-color: #6ebe45;
  border: none;
  font-size: 1.6em; }
  nav.navbar.navbar-inverse .navbar-nav {
    float: none;
    display: inline-block;
    margin-bottom: -14px; }
  nav.navbar.navbar-inverse .navbar-nav li > a {
    padding: 20px;
    color: #ffffff;
    cursor: pointer; }
  nav.navbar.navbar-inverse .navbar-nav li > a:hover {
    color: #222222; }

.title {
  font-size: 3em;
  margin-bottom: 25px; }

#main {
  height: 100vh;
  width: 100vw;
  text-align: center;
  padding-top: 25vh; }
  #main .logo {
    padding: 10px;
    width: 40%; }
  #main .subtitle {
    padding-top: 10px;
    color: #222222;
    font-size: 1.75em; }
  #main .application-button {
    font-size: 2em;
    color: #ffffff;
    background-color: #6ebe45;
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 10px 10vw;
    padding-top: 15px; }
  #main .application-info {
    padding-top: 30px;
    font-size: 1.25em; }

#explore {
  padding-top: 10vh;
  padding-bottom: 20vh; }
  #explore .title {
    margin-bottom: 10px; }
  #explore .subtitle {
    font-size: 2em;
    padding-bottom: 20px; }
  #explore .image-bar {
    width: 100%;
    height: 40%;
    padding: 15px 0px;
    background: url("../img/led_light_table_resize.jpg") no-repeat;
    background-size: 120% 100%;
    overflow: hidden;
    position: relative;
    color: #ffffff; }
  #explore .image-bar h1 {
    margin-top: 20%; }
  #explore .image-bar h3 {
    margin-top: 0px; }
  #explore .content {
    margin: auto;
    padding: 5vh 15vw;
    color: #222222;
    font-size: 1.15em;
    max-width: 1300px; }
  #explore .content img {
    margin-top: 5vh;
    max-width: 100%; }

#faq {
  text-align: center;
  padding-top: 5vh;
  padding-bottom: 20vh; }
  #faq .title {
    margin-bottom: 20px; }
  #faq .content {
    max-width: 1350px;
    margin: auto;
    padding: 0 15vw;
    color: #222222;
    font-size: 1.25em; }
  #faq .faq-item {
    padding: 10px; }
  #faq .question {
    text-align: left;
    font-weight: bold;
    color: #6ebe45;
    font-size: 1.25em; }
  #faq .answer {
    font-weight: normal;
    text-align: left;
    color: #222222;
    font-size: 1em; }
    #faq .answer ul {
      text-align: left;
      padding: 15px; }

#terms {
  text-align: center;
  padding-top: 10vh;
  padding-bottom: 20vh; }
  #terms .content {
    max-width: 1350px;
    margin: auto;
    padding: 0 15vw;
    color: #222222;
    font-size: 1.25em; }
  #terms .term-item ul {
    text-align: left;
    padding: 15px;
    color: #222222; }
  #terms .term-heading {
    font-size: 1.5em;
    text-align: left;
    font-weight: bold;
    color: #6ebe45; }

footer {
  padding-bottom: 30px; }
  footer .horizontal-spacer {
    display: inline-block;
    width: 10px; }
  footer .vertical-spacer {
    height: 10px; }
  footer .techx {
    width: 100px; }
