<div class="home-top">
  <img src="assets/img/projx-logo.svg" alt="ProjX" class="logo">
</div>
<div class="stream-container">
  <div class="stream threads-container">
    <div class="px-subhead">
      Latest threads
    </div>
    <thread-card></thread-card>
    <thread-card></thread-card>
    <thread-card></thread-card>
    <thread-card></thread-card>
  </div>
  <div class="stream threads-container">
    <div class="px-subhead">
      Latest projects (coming)
    </div>
    <thread-card></thread-card>
    <thread-card></thread-card>
    <thread-card></thread-card>
    <thread-card></thread-card>
  </div>
</div>
