#project-container {

  #body {
    padding: 19px;
    font-size: 1.25em;
    
    table {
      margin: 0;

      .field {
        width: 1px;
        font-weight: bold;
        white-space: nowrap;
      }
    }
  }
}
