#header {
  margin-top: 20px;

  .menu {
    margin: 0;
  }

  #letter {
    width: 3em;
    padding: 0;
    margin-left: 4px;

    img {
      width: 100%;
    }
  }

  #title {
    padding-top: 0.5em;
    font-size: 2em;
  }

  #username {
    white-space: nowrap;
  }

  #logout {
    white-space: nowrap;
  }
}
