$dark-grey: #222222;
$light-grey: #ffffff;
$projx-green: #6ebe45;

@font-face {
    font-family: "Biko";
    src: url("../font/Biko_Regular.otf") format("opentype");
}
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600");

html, body {
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: "Open Sans";
    background: $light-grey;
    color: $dark-grey;

    section, div {
        position: relative;
    }
}

.biko {
    font-family: "Biko";
}

a {
    color: $projx-green;
    text-decoration: none;
    transition: all 300ms;
    -ms-transition: all 300ms;
    -webkit-transition: all 300ms;

    &:hover {
        color: $dark-grey;
        text-decoration: none;
        transition: all 300ms;
        -ms-transition: all 300ms;
        -webkit-transition: all 300ms;
    }
}

b {
    font-weight: 600;
}

nav.navbar.navbar-inverse {
    background-color: $projx-green;
    border: none;
    font-size: 1.6em;

    .navbar-nav {
        float: none;
        display: inline-block;
        margin-bottom: -14px;
    }

    .navbar-nav li > a {
        padding: 20px;
        color: $light-grey;
        cursor: pointer;
    }

    .navbar-nav li > a:hover {
        color: $dark-grey;
    }

}

.title {
    font-size: 3em;
    margin-bottom: 25px;
}

#main {
    height: 100vh;
    width: 100vw;
    text-align: center;
    padding-top: 25vh;

    .logo {
        padding: 10px;
        width: 40%;
    }

    .subtitle {
        padding-top: 10px;
        color: $dark-grey;
        font-size: 1.75em;
    }

    .application-button {
        font-size: 2em;
        color: $light-grey;
        background-color: $projx-green;
        margin-top: 30px;
        margin-bottom: 10px;
        padding: 10px 10vw;
        padding-top: 15px;
    }

    .application-info {
        padding-top: 30px;
        font-size: 1.25em;
    }
}

#explore {
    padding-top: 10vh;
    padding-bottom: 20vh;

    .title {
        margin-bottom: 10px;
    }

    .subtitle {
        font-size: 2em;
        padding-bottom: 20px;
    }

    .image-bar {
        width: 100%;
        height: 40%;
        padding: 15px 0px;
        background: url("../img/led_light_table_resize.jpg") no-repeat;
        background-size: 120% 100%;
        overflow: hidden;
        position: relative;
        color: $light-grey;
    }

    .image-bar h1 {
        margin-top: 20%;
    }

    .image-bar h3 {
        margin-top: 0px;
    }

    .content {
        margin:auto;
        padding: 5vh 15vw;
        color: $dark-grey;
        font-size: 1.15em;
        max-width: 1300px;
    }

    .content img {
        margin-top: 5vh;
        max-width:100%;
    }
}

#faq {
    text-align: center;
    padding-top: 5vh;
    padding-bottom: 20vh;

    .title {
        margin-bottom: 20px;
    }

    .content {
        max-width: 1350px;
        margin: auto;
        padding: 0 15vw;
        color: $dark-grey;
        font-size: 1.25em;
    }

    .faq-item {
        padding: 10px;
    }

    .question {
        text-align: left;
        font-weight: bold;
        color: $projx-green;
        font-size: 1.25em;
    }

    .answer {
        font-weight: normal;
        text-align: left;
        color: $dark-grey;
        font-size: 1em;
        ul {
            text-align: left;
            padding: 15px;
        }
    }
}

#terms {
    text-align: center;
    padding-top: 10vh;
    padding-bottom: 20vh;

    .content {
        max-width: 1350px;
        margin: auto;
        padding: 0 15vw;
        color: $dark-grey;
        font-size: 1.25em;
    }

    .term-item ul {
        text-align: left;
        padding: 15px;
        color: $dark-grey;
    }

    .term-heading {
        font-size: 1.5em;
        text-align: left;
        font-weight: bold;
        color: $projx-green;
    }
}

footer {
    padding-bottom: 30px;

    .horizontal-spacer {
        display: inline-block;
        width: 10px;
    }

    .vertical-spacer {
        height: 10px;
    }

    .techx {
        width: 100px;
    }
}
