<div class="forum-container">
  <div class="px-head">ProjX Forum</div>

  <div class="new-thread-container">
    <a class="ui card new-thread">
      <div class="content"><i class="icon plus"></i> New Thread</div>
    </a>
  </div>

  <div class="threads-container">
    <thread-card></thread-card>
    <thread-card></thread-card>
    <thread-card></thread-card>
    <thread-card></thread-card>
    <thread-card></thread-card>
    <thread-card></thread-card>
    <thread-card></thread-card>
    <thread-card></thread-card>
    <thread-card></thread-card>
    <thread-card></thread-card>
    <thread-card></thread-card>
    <thread-card></thread-card>
    <thread-card></thread-card>
    <thread-card></thread-card>
    <thread-card></thread-card>
    <thread-card></thread-card>
    <thread-card></thread-card>
    <thread-card></thread-card>
    <thread-card></thread-card>
    <thread-card></thread-card>
    <thread-card></thread-card>
    <thread-card></thread-card>
    <thread-card></thread-card>
    <thread-card></thread-card>
    <thread-card></thread-card>
    <thread-card></thread-card>
    <thread-card></thread-card>
    <thread-card></thread-card>
    <thread-card></thread-card>
    <thread-card></thread-card>
  </div>
</div>
