.forum-container {
  .new-thread-container {
    padding: $px-grid / 2;
    display: flex;

    .new-thread {
      flex-grow: 1;
      text-align: center;
      color: $px-green;

      @include font-button();
    }
  }

  .threads-container {
    display: flex;
    flex-wrap: wrap;

    thread-card {
      width: 50%;
    }
  }
}
