<div class="px-head">ProjX Forum</div>
<div class="forum-container">
  <thread-card></thread-card>
  <thread-card></thread-card>
  <thread-card></thread-card>
  <thread-card></thread-card>
  <thread-card></thread-card>
  <thread-card></thread-card>
  <thread-card></thread-card>
  <thread-card></thread-card>
  <thread-card></thread-card>
  <thread-card></thread-card>
  <thread-card></thread-card>
  <thread-card></thread-card>
  <thread-card></thread-card>
  <thread-card></thread-card>
  <thread-card></thread-card>
  <thread-card></thread-card>
  <thread-card></thread-card>
  <thread-card></thread-card>
  <thread-card></thread-card>
  <thread-card></thread-card>
  <thread-card></thread-card>
  <thread-card></thread-card>
  <thread-card></thread-card>
  <thread-card></thread-card>
  <thread-card></thread-card>
  <thread-card></thread-card>
  <thread-card></thread-card>
  <thread-card></thread-card>
  <thread-card></thread-card>
  <thread-card></thread-card>
</div>
