<loader-include></loader-include>

<div id="admin-container" ng-show="showPage">
  <div class="ui centered stackable grid">
    <div class="twelve wide column">

      <header-include></header-include>

      <div id="content" class="ui segment">

        <h2>all projects</h2>
        <table class="ui celled striped unstackable selectable sortable very compact small table">
          <thead>
            <tr>
              <th class="ui center aligned" ng-repeat="(field, key) in projectFields" ng-click="sortBy(key)">
                {{ field }}
                <i class="ui sort ascending icon" ng-show="(sortKey == key) && (sortReverse == true)"></i>
                <i class="ui sort descending icon" ng-show="(sortKey == key) && (sortReverse == false)"></i>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="project in projects | orderBy : sortKey : sortReverse">
              <!-- ng-switch for linking columns -->
              <td ng-class="(key===sortKey) ? 'active' : ''" ng-repeat="(field, key) in projectFields" ng-switch on="field">
                <a ng-switch-when="name" href="/project/{{ project._id }}">{{ project[key] }}</a>
                <a ng-switch-when="point" href="/profile/{{ project.infoTeam.point }}">{{ project[key] }}</a>
                <a ng-switch-when="primary" href="/profile/{{ project.infoTeam.primary }}">{{ project[key] }}</a>
                <div ng-switch-when="team">
                  <span ng-repeat="member in project.public.team"><a href="/profile/{{ member }}">{{member.slice(0, -8)}}</a><span ng-hide="$last">, </span></span>
                </div>
                <div ng-switch-default>{{ project[key] }}</div>
              </td>
            </tr>
            <tr ng-if="projects.length===0">
              <td ng-class="(key===sortKey) ? 'active' : ''" ng-repeat="(field, key) in projectFields" ng-switch on="field">
                <div ng-switch-when="name">no projects to show...</div>
                <div ng-switch-default>-</div>
              </td>
            </tr>
          </tbody>
        </table>

      </div>

    </div>
  </div>
</div>
