<loader-include></loader-include>

<div id="admin-container" ng-show="showPage">
  <div class="ui centered stackable grid">
    <div class="twelve wide column">

      <header-include></header-include>

      <div id="content" class="ui segment">

        <h2>all active admin</h2>
        <ul>
          <li ng-repeat="(num,user) in admins">{{ user.name }} ({{ user.email }})</li>
        </ul>

        <h3>add admin</h3>
        <input type="text" placeholder="enter an email" ng-model="changeAdminEmail">
        <button class="ui tiny button green-button" type="submit" ng-click="addAdmin()">add</button>
        <button class="ui tiny button green-button" type="submit" ng-click="removeAdmin()">remove</button>
        <br><br>
        

        <h2>all projects</h2>
        Count: {{projects.length}}
        <table class="ui celled striped unstackable selectable sortable very compact small table">
          <thead>
            <tr>
              <th class="ui center aligned" ng-repeat="(field, key) in projectFields" ng-click="sortBy(key)">
                {{ field }}
                <i class="ui sort ascending icon" ng-show="(sortKey == key) && (sortReverse == true)"></i>
                <i class="ui sort descending icon" ng-show="(sortKey == key) && (sortReverse == false)"></i>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="project in projects | orderBy : sortKey : sortReverse">
              <!-- ng-switch for linking columns -->
              <td ng-class="(key===sortKey) ? 'active' : ''" ng-repeat="(field, key) in projectFields" ng-switch on="field">
                <div ng-switch-when="name">
                  <a href="/project/{{ project._id }}">{{ project[key] }}</a> ({{ project.date }})
                </div>
                <a ng-switch-when="point" href="/profile/{{ project.infoTeam.point }}">{{ project[key] }}</a>
                <a ng-switch-when="primary" href="/profile/{{ project.infoTeam.primary }}">{{ project[key] }}</a>
                <div ng-switch-when="team">
                  <span ng-repeat="member in project.public.team"><a href="/profile/{{ member }}">{{member.slice(0, -8)}}</a><span ng-hide="$last">, </span></span>
                </div>
                <div ng-switch-when="status">
                    <div>
                      <center>
                          <select ng-model="project.private.status" placeholder="pending">
                            <option value="pending">pending</option>
                            <option value="accepted">accepted</option>
                            <option value="rejected">rejected</option>
                          </select>
                      </center>
                    </div>
                </div>
                <!-- Team members can be modified in config.json -->
                <div ng-switch-when="contact">
                    <center>
                        <select ng-model="project.private.contact" placeholder="unassigned">
                          <option ng-repeat="(num,user) in admins" value="{{ user.email }}">{{ user.name }}</option>
                        </select>
                    </center>
                </div>
                <!-- Contact can be inputed on the admin side -->
                <!-- <div ng-switch-when="contact">
                    <div>
                      <center>
                          <textarea rows="1" ng-model="project.private.contact" placeholder="unassigned"></textarea>
                      </center>
                    </div>
                </div> -->
                <div ng-switch-default>{{ project[key] }}</div>
              </td>
            </tr>
            <tr ng-if="projects.length===0">
              <td ng-class="(key===sortKey) ? 'active' : ''" ng-repeat="(field, key) in projectFields" ng-switch on="field">
                <div ng-switch-when="name">no projects to show...</div>
                <div ng-switch-default>-</div>
              </td>
            </tr>
          </tbody>
        </table>
        <center>
            <button class="ui large button green-button" type="submit" ng-click="adminUpdate()">save</button>
        </center>
      </div>
    </div>
  </div>
</div>
