<loader-include></loader-include>

<div id="apply-container" ng-show="showPage">
  <div class="ui centered stackable grid">
    <div class="twelve wide column">

      <header-include></header-include>

      <div id="content" class="ui segment">

        <!-- profile -->
        <h2>
          instructions
        </h2>
        Please first read our <a href="/terms" target="_blank">terms and requirements</a>! Then fill out the fields below. After you submit, you will still be able to edit your application up until the deadline, <b>11:59 PM on Sunday, February 24th, 2018</b>, so feel free to submit a partial application and complete it later.
        <br>
        Please note that we are adding a résumé requirement to ProjX funding. If we accept your project, you will be required to send a résumé to us to continue with the process. This is solely for the purpose of showing our sponsors, and will have no bearing on your acceptance decision.
        <b>You do not need to send us a résumé now, but if your project is accepted, you will be asked to do so.</b>
        <br>
        Email any questions to <a href="mailto:projx@mit.edu">projx@mit.edu</a>.

        <h2>
          project
        </h2>
        <div class="ui segment form">
          <div class="ui required field">
            <label>title</label>
            <input type="text" placeholder="catchy project name" ng-model="project.name">
          </div>
          <div class="ui field">
            <label>pitch</label>
            <textarea rows="3" ng-model="project.public.projectPitch" placeholder="one-line summary of your project"></textarea>
          </div>
          <div class="ui field">
            <label>description</label>
            <textarea rows="8" ng-model="project.public.projectDescription" placeholder="in-depth description of your project, about a couple paragraphs"></textarea>
          </div>
        </div>
        <h2>
          team
        </h2>
        <div class="ui segment form">
          <div class="ui field">
            <label>members</label>
            <div class="ui grouped fields">
              <div class="field" ng-repeat="member in project.public.team">
                <div class="ui radio checkbox">
                  <input type="radio" name="team" ng-model="project.private.primary" value="{{ member }}">
                  <label>
                    {{ member }}
                    <i class="ui red close icon remove-member" ng-click="removeMember(member)" ng-hide="member===user.email || member===project.private.primary"></i>
                    <span ng-show="member===project.private.primary"><i>(team lead)</i></span>
                  </label>
                </div>
              </div>
            </div>
            <div class="three fields">
              <div class="field">
                <div class="ui icon input">
                  <input type="text" placeholder="enter an @mit.edu email address" ng-model="newMember">
                  <i class="inverted circular plus link icon" ng-click="addMember()"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="ui field">
            <label>background</label>
            <textarea rows="3" ng-model="project.public.teamDescription" placeholder="context and any relevant experiences of team members (although experience is not necessary)"></textarea>
          </div>
        </div>
        <h2>
          timeline and budget
        </h2>
        <div class="ui segment form">
          <div class="ui field">
            <label>timeline</label>
            <textarea rows="6" ng-model="project.private.timeline" placeholder="please outline an expected timeline with explicit milestones, be as specific as possible, feel free to link to a Google spreadsheet and enable sharing"></textarea>
          </div>
          <div class="ui field">
            <label>budget</label>
            <textarea rows="6" ng-model="project.private.budgetBreakdown" placeholder="please provide an itemized breakdown of your requested budget, be as specific as possible, feel free to link to a Google spreadsheet and enable sharing"></textarea>
          </div>
          <div class="ui field">
            <label>funding amount</label>
            <input type="text" ng-model="project.private.budgetAmount" placeholder="how much money you are requesting (at most $500)?">
          </div>
          <div class="ui field">
            <label>miscellaneous</label>
            <textarea rows="3" ng-model="project.private.otherFunding" placeholder="are you getting funding from any other sources? if so, which sources? also include any other relevant information for your project"></textarea>
          </div>


        </div>

        <h2>submit</h2>

        <div class="ui checkbox">
          <input type="checkbox" tabindex="0" ng-model="agreed">
          <label>I agree to the <a href="/terms" target="_blank">terms and requirements</a></label>
        </div>
        <br>
        <br>
        <button class="ui large button green-button" type="submit" ng-disabled="!agreed" ng-click="submit()">submit</button>
      </div>
    </div>
  </div>
</div>
