<div id="header" class="ui segment">
  <div class="ui text menu">

    <!-- left -->
    <img id="letter" src="assets/img/projx-letter.svg" class="item">
    <div id="title" class="item">{{ title }}</div>

    <!-- right -->
    <div class="right menu">
      <div class="ui middle aligned divided grid">
        <div class="row">
          <div id="username" class="item">logged in as {{ username }}</div>
          <div class="column">
            <div id="logout" class="ui large label button" ng-click="logout()">log out</div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
