<div id="header" class="ui segment">
  <div class="ui text menu">

    <!-- left -->
    <img id="letter" src="/assets/img/projx-letter.svg" class="item" ng-click="goHome()">
    <div id="title" class="item">{{ title }}</div>

    <!-- right -->
    <div class="ui right stackable text menu">
      <a id="username" href="/profile/{{ user.email }}" class="item link">{{ user.name }}</a>
      <div class="item">
        <div> <!-- extra div so label is not direct child of item -->
          <div id="logout" class="ui large label button" ng-click="logout()">log out</div>
        </div>
      </div>
    </div>

  </div>
</div>
