<loader-include></loader-include>

<div id="home-container" ng-show="showPage">
  <div class="ui centered stackable grid">
    <div class="twelve wide column">

      <header-include></header-include>

      <div id="content" class="ui segment">

        <!-- announcements -->
        <h2>announcements</h2>
        Applications for summer 2016 are now open (see below)! Email questions to <a href="mailto:projx@mit.edu">projx@mit.edu</a> and find us on <a href="https://www.facebook.com/mitprojx">Facebook</a>.
        <br><br>
        <a href="http://projx.mit.edu">back to projx.mit.edu</a>
        <br>

        <!-- project list -->
        <h2>your projects</h2>
        <div id="project-cards" class="ui cards">
          <a class="ui card" ng-repeat="project in projects" href="/project/{{ project._id }}">
            <div class="content">
              <div class="header">{{ project.name }}</div>
              <div class="description">{{ project.pitch }}</div>
            </div>
          </a>
          <a class="ui card" href="/apply">
            <div class="content new">
              <div class="header">New Application</div>
              <div class="description">Create a new project to apply to ProjX for summer 2016!</div>
            </div>
          </a>
        </div>
        <br>

      </div>

    </div>
  </div>
</div>
