<loader-include></loader-include>

<div id="home-container" ng-show="showPage">
  <div class="ui centered stackable grid">
    <div class="twelve wide column">

      <header-include></header-include>

      <div id="content" class="ui segment">

        <!-- announcements -->
        <h2>announcements</h2>
        xFair is fast approaching! Check-in 3 soon.
        <br>

        <!-- project list -->
        <h2>your projects</h2>
        <div class="ui message" ng-show="projects.length === 0">no projects to show...</div>
        <div id="project-cards" class="ui cards">
          <a class="ui card" ng-repeat="project in projects" href="/project/{{ project._id }}">
            <div class="content">
              <div class="header">{{ project.name }}</div>
              <div class="description">{{ project.pitch }}</div>
            </div>
          </a>
        </div>
        <br>

      </div>

    </div>
  </div>
</div>
