<loader-include></loader-include>

<div id="login-container" ng-show="showPage" class="ui middle aligned centered stackable grid">
  <div class="six wide column">

    <!-- logo -->
    <div class="ui center aligned segment">
      <img id="logo" src="assets/img/projx-logo.svg">
    </div>

    <!-- mit cert login -->
    <div class="ui center aligned segment">
      <button class="ui fluid large button" ng-click="login()">
        log in
      </button>
    </div>

    <div class="ui center aligned segment">
      Please log in with MIT certificate to access application.
    </div>

  </div>
</div>
