<loader-include></loader-include>

<div id="project-container" ng-show="showPage">
  <div class="ui centered stackable grid">
    <div class="twelve wide column">

      <header-include></header-include>

      <div id="content" class="ui segment">

        <div class="ui tag projx label" ng-show="projectDisplay.batch==='ProjX {{ cycle }}'">ProjX {{ cycle }}</div>
        <div class="ui tag yellow label" ng-show="projectDisplay.complete==='yes'">Application Under Review</div>
        <div class="ui tag orange label" ng-show="projectDisplay.complete==='no'">Application Incomplete</div>
        <div class="ui tag green label" ng-show="projectDisplay.status==='accepted'">Application Accepted</div>
        <div class="ui tag red label" ng-show="projectDisplay.status==='rejected'">Application Rejected</div>

        <h2>
          <span ng-hide="editStatus">summary</span>
          <span ng-show="editStatus">info</span>
          <div class="ui tiny button" ng-if="open" ng-click="editProject()">
            <div ng-hide="editStatus"><i class="ui write icon"></i>edit</div>
            <div ng-show="editStatus"><i class="ui checkmark icon"></i>save</div>
          </div>
        </h2>

        <div class="project-display" ng-hide="editStatus">
          <table class="ui celled striped unstackable table">
            <tr ng-repeat="(key, val) in projectDisplay">
              <td class="field">{{ key }}</td>
              <td class="breakwrap" ng-style="(val) ? {'white-space': 'pre-wrap'} : {'font-style': 'italic'}">{{ val || 'none' }}</td>
            </tr>
          </table>
          <br>
	</div>

	<div class="project-form" ng-show="editStatus">
    <h2>
      project
    </h2>
    <div class="ui segment form">
      <div class="ui required field">
        <label>title</label>
        <input type="text" placeholder="catchy project name" ng-model="project.name">
      </div>
      <div class="ui field">
        <label>pitch</label>
        <textarea rows="3" ng-model="project.public.projectPitch" placeholder="one-line summary of your project"></textarea>
      </div>
      <div class="ui field">
        <label>description</label>
        <textarea rows="8" ng-model="project.public.projectDescription" placeholder="in-depth description of your project, about a couple paragraphs"></textarea>
      </div>
      <div class="ui checkbox field">
        <input id="resumecheck" type="checkbox" ng-model="project.private.resumeSubmit"></input>
        <label for="resumecheck">Every member of the team has submitted a résumé <a href="{{resumeLink}}" target="_blank">here</a>.</label>
      </div>
    </div>
    <h2>
      team
    </h2>
    <div class="ui segment form">
      <div class="ui field">
        <label>members</label>
        <div class="ui grouped fields">
          <div class="field" ng-repeat="member in project.public.team">
            <div class="ui radio checkbox">
              <input type="radio" name="team" ng-model="project.private.primary" value="{{ member }}">
              <label>
                {{ member }}
                <i class="ui red close icon remove-member" ng-click="removeMember(member)" ng-hide="member===user.email || member===project.private.primary"></i>
                <span ng-show="member===project.private.primary"><i>(team lead)</i></span>
              </label>
            </div>
          </div>
        </div>
        <div class="three fields">
          <div class="field">
            <div class="ui icon input">
              <input type="text" placeholder="enter an @mit.edu email address" ng-model="newMember.email">
              <i class="inverted circular plus link icon" ng-click="addMember()"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="ui field">
        <label>background</label>
        <textarea rows="3" ng-model="project.public.teamDescription" placeholder="context and any relevant experiences of team members (although experience is not necessary)"></textarea>
      </div>
    </div>
    <h2>
      timeline and budget
    </h2>
    <div class="ui segment form">
      <div class="ui field">
        <label>timeline</label>
        <textarea rows="6" ng-model="project.private.timeline" placeholder="please outline an expected timeline with explicit milestones, be as specific as possible, feel free to link to a Google spreadsheet and enable sharing"></textarea>
      </div>
      <div class="ui field">
        <label>budget</label>
        <textarea rows="6" ng-model="project.private.budgetBreakdown" placeholder="please provide an itemized breakdown of your requested budget, be as specific as possible, feel free to link to a Google spreadsheet and enable sharing"></textarea>
      </div>
      <div class="ui field">
        <label>funding amount</label>
        <input type="text" ng-model="project.private.budgetAmount" placeholder="how much money you are requesting (at most $500)?">
      </div>
      <div class="ui field">
        <label>miscellaneous</label>
        <textarea rows="3" ng-model="project.private.otherFunding" placeholder="are you getting funding from any other sources? if so, which sources? also include any other relevant information for your project"></textarea>
      </div>
      <div class="ui checkbox field">
        <input id="makercheck" type="checkbox" ng-model="project.private.makershop"></input>
        <label for="makercheck">I need access to a makershop</label>
      </div>
      <br>
      <div class="ui checkbox field">
          <input id="instructcheck" type="checkbox" ng-model="project.private.instructables"></input>
          <label for="instructcheck">Want to document with Instructables? (potential prize money!)</label>
      </div>
    </div>
  </div>
</div>
