<loader-include></loader-include>

<div id="project-container" ng-show="showPage">
  <div class="ui centered stackable grid">
    <div class="twelve wide column">

      <header-include></header-include>

      <div id="content" class="ui segment">

        <!-- profile -->
        <h2>
          info
          <div class="ui button" ng-click="editProject()" ng-if="(project.team.indexOf(user.email) !== -1) || (user.isAdmin)">edit</div>
        </h2>
        <table class="ui celled unstackable table">
          <tr ng-repeat="(field, key) in projectFields">
            <td class="field">{{ field }}</td>
            <td ng-style="(project[key]) ? {} : {'font-style':'italic'}">
              {{ project[key] || 'not given' }}
            </td>
          </tr>
        </table>
        <br>

      </div>

    </div>
  </div>
</div>
