<loader-include></loader-include>

<div id="project-container" ng-show="showPage">
  <div class="ui centered stackable grid">
    <div class="twelve wide column">

      <header-include></header-include>

      <div id="content" class="ui segment">

        <!-- profile -->
        <h2>
          info
          <div class="ui tiny button" ng-click="editProject()" ng-if="(project.team.indexOf(user.email) !== -1) || (user.isAdmin)">edit</div>
        </h2>
        <table class="ui celled striped unstackable table">
          <tr ng-repeat="(field, key) in projectFields">
            <td class="field">{{ field }}</td>
            <td ng-style="(project[key]) ? {'white-space': 'pre-wrap'} : {'font-style':'italic'}">{{ project[key] || 'none' }}</td>
          </tr>
        </table>
        <br>

      </div>

    </div>
  </div>
</div>
