<div id="splash-container">
  <div id="form-container" class="ui middle aligned centered stackable grid">
    <div class="eight wide column">

      <div class="ui segment">
        <div class="ui one column centered grid">
          <div class="column">
            <img id="projx-logo" src="assets/img/projx-logo.svg" class="image">
          </div>
        </div>
      </div>

      <form class="ui large form">
        <div class="ui stacked segment">
          <div class="field">
            <input type="text" name="email" placeholder="MIT email address">
          </div>
          <div class="field">
            <input type="password" name="password" placeholder="password">
          </div>
          <div class="ui fluid large submit button">login</div>
        </div>
      </form>

      <!-- todo
      <div class="ui segment">
        sign up link
      </div>
      -->

    </div>
  </div>
</div>
