<!DOCTYPE html>
<html lang="en">
    <head>

        <title>MIT ProjX</title>

        <meta charset="utf-8">
        <meta name="description" content="Student funding for student projects" />
        <meta name="keywords" content="MIT, project, funding, projx" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <link rel="icon" href="../assets/images/favicon.png">

        <link href='https://fonts.googleapis.com/css?family=Lato:400,100,300,700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Poppins:400,300,500,600' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Barlow:400,300,500,600' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch:400,300,500,600,800" rel="stylesheet">

        <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="../assets/css/plagin-css/plagin.css">
        <link rel="stylesheet" href="../assets/icons/toicons/css/styles.css">

        <link rel="stylesheet" href="../assets/css/style.css">
        <link rel="stylesheet" href="../assets/css/responsive.css">

    </head>
    <body>


        <!-- Start: Navbar Area
        ============================= -->
        <header id="header" class="okayNav-header navbar-fixed-top main-navbar-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                        <a class="okayNav-header__logo navbar-brand" href="#">
                            <img src="../assets/images/projx_logo.png" alt="" class="logo-2 img-responsive">
                        </a>
                    </div>

                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-6">
                        <nav role="navigation" class="okayNav pull-right" id="js-navbar-menu">
                            <ul id="navbar-nav" class="navbar-nav">
                                <li><a class="btn-nav" href="#whatwedo">What we do</a></li>
                                <li><a class="btn-nav" href="#faq">FAQ</a></li>
                                <li><a class="btn-nav" href="#spotlight">Spotlight</a></li>
                                <li><a class="btn-nav external" href="https://goo.gl/forms/pLRx91dFLuoOOywM2">Apply</a></li>
                                <li><a class="btn-nav external" href="https://projx.mit.edu/portal">Login</a></li>
                            </ul>
                        </nav>
                    </div>

                </div>
            </div>
        </header>
        <!-- End: Navbar Area
        ============================= -->



        <!-- Start: Header Section
        ================================ -->
        <section class="header-section-1 bg-image-3 header-js" id="features" style="min-height:100vh;">
            <div class="overlay-color" style="background-color:rgba(0, 0, 0, 0.00);">
                <div class="container">
                    <div class="row section-separator">

                        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                            <div class="part-inner text-center">
                                <img src="../assets/images/projx_chalk.png" style="width:50%"><br />
                                <div style="font-family:'Cabin Sketch',cursive;color:#6DBE44;font-size:2.8vw;">
                                  <br />apply <a href="https://projx.mit.edu/portal" style="font-family:'Cabin Sketch',cursive;color:#555;font-size:2.8vw;">here</a> by february 24
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <!-- End: Header Section
        ================================ -->




        <!-- Start: Features Section 7
        ====================================== -->
        <section class="features-section-7 content-half background-light" id="whatwedo">

            <div class="container-half container-half-left background-light"></div>
            <div class="container-half container-half-right cover" style="background-image: url(../assets/images/projx-headset-cropped.png);"></div>

            <div class="container">
                <div class="row section-separator text-left">

                    <div class="col-md-6">
                        <div class="inner">
                            <h2 class="section-heading">Our mission is to <strong>encourage & enable</strong> MIT students to pursue side projects</h2>
                            <div class="detail">
                                <p style="font-weight:100;">
                                  ProjX is a branch of TechX that provides up to $500 in funding for students every semester, helping students bring their dream projects
                                  to life and giving them the chance to demo their creations at the annual xFair and ProjXpo.
                                  <br />
                                  <form>
                                    <button formaction="https://medium.com/mittechx/projx-projects-ecef9025d5bb" class="btn-custom">Read More</button>
                                  </form>
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- End: Features Section 7
        ================================ -->




        <!-- Start: Features Section 1
        ====================================== -->
        <section class="features-section-1 relative background-semi-dark" id="faq">
            <div class="container">
                <div class="row section-separator">

                    <div class="section-header col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                        <h2 class="section-heading">ProjX FAQ</h2>
                    </div>

                    <div class="col-xs-12 features-item">
                        <div class="row">

                            <div class="each-features col-md-4 col-sm-6 col-xs-12">
                                <div class="inner background-light">
                                    <i class="icon features-icon icons8-clock text-center"></i>
                                    <h6 class="title">Timeline</h6>
                                    <div class="detail">
                                      <p>For Spring 2018, we will be hosting information sessions 2pm on Sunday, February 18 at 5-134, and 7pm on Thursday, February 22 at 5-134.
                                        <br /><br />Attend a session to learn more!
                                      </p>
                                    </div>
                                </div>
                            </div>

                            <div class="each-features col-md-4 col-sm-6 col-xs-12">
                                <div class="inner background-light">
                                    <i class="icon features-icon icons8-calendar text-center"></i>
                                    <h6 class="title">Applying for Funding</h6>
                                    <div class="detail">
                                      <p>Applications for the Spring 2018 cycle open on Sunday, February 11 and close on Saturday, February 24.<br /><br />
                                        You can apply/login to your ProjX account
                                        <br /><a href="https://projx.mit.edu/portal">here</a>.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="each-features col-md-4 col-sm-6 col-xs-12">
                                <div class="inner background-light">
                                    <i class="icon features-icon icons8-bullish text-center"></i>
                                    <h6 class="title">Judging Criteria</h6>
                                    <div class="detail">
                                        <p>We judge projects on three main factors: <br /><br /> (1) Creativity and novelty. <br /> (2) Execution. <br />Is the project feasible in the time frame? <br /> (3) Educational value. Will the student learn something?</p>
                                    </div>
                                </div>
                            </div>

                            <div class="each-features col-md-4 col-sm-6 col-xs-12">
                                <div class="inner background-light">
                                    <i class="icon features-icon icons8-coins text-center"></i>
                                    <h6 class="title">Funding for Multiple Projects</h6>
                                    <div class="detail">
                                        <p>We believe in empowering students to explore and develop their ideas, so we will evaluate each application independently of others. Therefore, a student can be on multiple teams; however, each student may only be the lead member of one team.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="each-features col-md-4 col-sm-6 col-xs-12">
                                <div class="inner background-light">
                                    <i class="icon features-icon icons8-privacy text-center"></i>
                                    <h6 class="title">Resources Outside of ProjX</h6>
                                    <div class="detail">
                                        <p>There are many resources on campus for side projects and entrepreneurship! Check out the Martin Trust Center, Sandbox Fund, StartLabs, Dorm Room Fund, Rough Draft VC, Clean Energy Prize, Climate CoLab, GFSA, IDEAS Global, MIT CHIEF, and more.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="each-features col-md-4 col-sm-6 col-xs-12">
                                <div class="inner background-light">
                                    <i class="icon features-icon icons8-calendar text-center"></i>
                                    <h6 class="title">Mentorship</h6>
                                    <div class="detail">
                                        <p>Members of the ProjX committee with significant technical experience may provide mentorship and advice for your project, and we can also connect you with someone in our network of volunteer mentors. Mentors can be previous ProjX participants, graduate students, or even faculty/staff.</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- End: Features Section 1
        ======================================-->





        <!-- Start: Features Section 2
        ====================================== -->
        <section class="features-section-2 relative bg-image-2">
            <div class="overlay-color">
                <div class="container">
                    <div class="row section-separator light-text">

                        <div class="section-header col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                            <h2 class="section-heading">ProjX Spotlight</h2>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <!-- End: Features Section 2
        ======================================-->



        <!-- Start: Features Section 8
        ====================================== -->
        <section class="features-section-8 relative background-light" id="spotlight">
            <div class="container">
                <div class="row section-separator">

                    <div class="project-item col-xs-12">

                        <div class="each-project row">
                            <div class="each-project-inner">
                                <div class="vertical-middle col-md-7 col-sm-6 col-xs-12">
                                    <div class="project-image cover" style="background-image: url(../assets/images/projx-skateboard.jpg);">
                                    </div>
                                </div>
                                <div class="vertical-middle col-md-5 col-sm-6 col-xs-12">
                                    <div class="inner p-l-50">
                                        <h2 class="section-heading">DashBoard by Alon Kosowsky-Sachs and Matthew Reeve</h2>
                                        <div class="detail">
                                            <p>Electronic skateboard</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="each-project row">
                            <div class="each-project-inner">
                                <div class="vertical-middle col-md-5 col-sm-6 col-xs-12">
                                    <div class="inner p-r-50">
                                      <h2 class="section-heading">Granite Mini-Mill by Austin Brown</h2>
                                      <div class="detail">
                                          <p>Milling Machine Made from AFM Base</p>
                                      </div>
                                    </div>
                                </div>
                                <div class="vertical-middle col-md-7 col-sm-6 col-xs-12">
                                    <div class="project-image cover" style="background-image: url(../assets/images/projx-contraption.jpg);">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="each-project row">
                            <div class="each-project-inner">
                                <div class="vertical-middle col-md-7 col-sm-6 col-xs-12">
                                    <div class="project-image cover" style="background-image: url(../assets/images/projx-cycle.jpg);">
                                    </div>
                                </div>
                                <div class="vertical-middle col-md-5 col-sm-6 col-xs-12">
                                    <div class="inner p-l-50">
                                      <h2 class="section-heading">Wheelie Scooter by Amartya, Mason, and Thanh</h2>
                                      <div class="detail">
                                          <p>An electric scooter equipped with a 7kW brushless motor</p>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="each-project row">
                            <div class="each-project-inner">
                                <div class="vertical-middle col-md-5 col-sm-6 col-xs-12">
                                    <div class="inner p-r-50">
                                      <h2 class="section-heading">Supersonic Wind Tunnel by Lochie Ferrier</h2>
                                      <div class="detail">
                                          <p>High-Speed Wind Tunnel made with EDF and Converging-Diverging Nozzle</p>
                                      </div>
                                    </div>
                                </div>
                                <div class="vertical-middle col-md-7 col-sm-6 col-xs-12">
                                    <div class="project-image cover" style="background-image: url(../assets/images/projx-speakers.jpg);">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- End: Features Section 8
        ======================================-->




        <!-- Start: Features Section 6
        ================================== -->
        <section class="features-section-6 relative background-semi-dark">
            <div class="container">
                <div class="row section-separator">

                    <div class="section-header col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                        <h2 class="section-heading">Resources</h2>
                    </div>

                    <div class="features-item col-xs-12">
                        <div class="row">

                            <div class="each-features col-md-3 col-sm-6 col-xs-12">
                                <div class="inner background-light text-center">
                                    <div class="features-hover">
                                        <img src="../assets/images/sponsor-pico.png" alt="Our Members" class="img-responsive">
                                        <div class="mask">
                                            <div class="mask-inner">
                                                <div class="title">VR glasses from Pico Interactive</div>
                                                <ul class="nav social-icon">
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="detail">
                                        <h6 class="name">Pico</h6>
                                    </div>
                                </div>
                            </div>

                            <div class="each-features col-md-3 col-sm-6 col-xs-12">
                                <div class="inner background-light text-center">
                                    <div class="features-hover">
                                        <img src="../assets/images/sponsor-paperspace.png" alt="Our Members" class="img-responsive">
                                        <div class="mask">
                                            <div class="mask-inner">
                                                <div class="title">$250 credit for cloud GPU processing</div>
                                                <ul class="nav social-icon">
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="detail">
                                        <h6 class="name">Paperspace</h6>
                                    </div>
                                </div>
                            </div>

                            <div class="each-features col-md-3 col-sm-6 col-xs-12">
                                <div class="inner background-light text-center">
                                    <div class="features-hover">
                                        <img src="../assets/images/sponsor-dremel.png" alt="Our Members" class="img-responsive">
                                        <div class="mask">
                                            <div class="mask-inner">
                                                <div class="title">3D printer, a Dremel Ideabuilder 3D40 with black PLA</div>
                                                <ul class="nav social-icon">
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="detail">
                                        <h6 class="name">Dremel</h6>
                                    </div>
                                </div>
                            </div>

                            <div class="each-features col-md-3 col-sm-6 col-xs-12">
                                <div class="inner background-light text-center">
                                    <div class="features-hover">
                                        <img src="../assets/images/sponsor-projx.png" alt="Our Members" class="img-responsive">
                                        <div class="mask">
                                            <div class="mask-inner">
                                                <div class="title">Mentorship from ProjX affiliates and previous ProjX teams</div>
                                                <ul class="nav social-icon">
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="detail">
                                        <h6 class="name">ProjX</h6>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- End: Features Section 6
        ================================== -->




        <!-- Start: Features Section 3
        ================================== -->
        <section class="features-section-3 relative background-light" id="testimnial">
            <div class="container">
                <div class="row section-separator">

                    <div class="section-header col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                        <h2 class="section-heading">The Team</h2>
                    </div>

                    <div class="clearfix"></div>

                    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                        <div class="testimonial-container">
                            <div class="testimonial-wrapper owl-carousel">

                                <div class="item text-center">
                                    <div class="image-outer">
                                        <img src="../assets/images/team-madee.png">
                                    </div>
                                    <p class="name">Madee Haworth, Director</p>
                                </div>

                                <div class="item text-center">
                                    <div class="image-outer">
                                        <img src="../assets/images/team-austin.png">
                                    </div>
                                    <p class="name">Austin Brown</p>
                                </div>

                                <div class="item text-center">
                                    <div class="image-outer">
                                        <img src="../assets/images/team-karunya.png">
                                    </div>
                                    <p class="name">Karunya Sethuraman</p>
                                </div>

                                <div class="item text-center">
                                    <div class="image-outer">
                                        <img src="../assets/images/team-angel.png">
                                    </div>
                                    <p class="name">Angel Alvarez II</p>
                                </div>

                                <div class="item text-center">
                                    <div class="image-outer">
                                        <img src="../assets/images/team-arlene.png">
                                    </div>
                                    <p class="name">Arlene Siswanto</p>
                                </div>

                                <div class="item text-center">
                                    <div class="image-outer">
                                        <img src="../assets/images/team-zack.png">
                                    </div>
                                    <p class="name">Zack Holbrook</p>
                                </div>

                                <div class="item text-center">
                                    <div class="image-outer">
                                        <img src="../assets/images/team-annie.png">
                                    </div>
                                    <p class="name">Annie Wang</p>
                                </div>

                                <div class="item text-center">
                                    <div class="image-outer">
                                        <img src="../assets/images/team-jordan.png">
                                    </div>
                                    <p class="name">Jordan Wick</p>
                                </div>

                                <div class="item text-center">
                                    <div class="image-outer">
                                        <img src="../assets/images/team-rachel.png">
                                    </div>
                                    <p class="name">Rachel Groberman</p>
                                </div>

                                <div class="item text-center">
                                    <div class="image-outer">
                                        <img src="../assets/images/team-nyle.png">
                                    </div>
                                    <p class="name">Nyle Sykes</p>
                                </div>

                                <div class="item text-center">
                                    <div class="image-outer">
                                        <img src="../assets/images/team-jimmy.png">
                                    </div>
                                    <p class="name">Jimmy Tran</p>
                                </div>

                                <div class="item text-center">
                                    <div class="image-outer">
                                        <img src="../assets/images/team-emily.png">
                                    </div>
                                    <p class="name">Emily Liu</p>
                                </div>

                                <div class="item text-center">
                                    <div class="image-outer">
                                        <img src="../assets/images/team-hosea.png">
                                    </div>
                                    <p class="name">Hosea Siu</p>
                                </div>

                                <div class="item text-center">
                                    <div class="image-outer">
                                        <img src="../assets/images/team-samyu.png">
                                    </div>
                                    <p class="name">Samyu Yagati</p>
                                </div>


                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- End: Features Section 3
        ================================== -->


        <!-- Start: Footer Section 1
        ================================== -->
        <footer class="footer-section background-dark">
            <div class="container">
                <div class="row section-separator text-right">
                    <div class="copyright">
                        <p>&copy; MIT ProjX 2018 | Powered by MIT TechX<br />Questions? projx@mit.edu</p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- End: Footer Section 1
        ================================== -->


        <!-- SCRIPTS
        ========================================-->
        <script src="../assets/lib/jquery.min.js"></script>
        <script src="../assets/lib/bootstrap.min.js"></script>
        <script src="../assets/js/plagin-js/plagin.js"></script>

        <!-- Custom Script
        ==========================================-->
        <script src="../assets/js/custom-scripts.js"></script>

    </body>

</html>
