<loader-include></loader-include>

<div id="terms-container" ng-show="showPage">
  <div class="ui centered stackable grid">
    <div class="twelve wide column">

      <header-include></header-include>

      <div id="content" class="ui segment">

        Below are the conditions for ProjX funding for {{ cycle }}. Email any questions to <a href="mailto:projx@mit.edu">projx@mit.edu</a>.

        <br>

        <h2>requirements</h2>
        By applying to ProjX, you agree to meet the following requirements:
        <ul>
          <li>Attend three in person check-ins in March, April and May. Attend additional check-ins if the project is behind schedule.</li>
          <li>Display your project at the xFair in early February. If you can't make this date, you must make individual arrangement with us to demo at a later event and with a modified timeline.</li>
          <li>Allow TechX to use imagery and descriptions of your project and to make them public to the MIT community.</li>
          <li>Allow ProjX to share project information (name, email, and project title/description) and resumes with corporate sponsors.</li>
          <li>Maintain communication with ProjX throughout the funding period, including alerting ProjX if unexpected delays or problems arise that may prevent you from displaying your project.</li>
        </ul>
        You retain the rights and ownership over anything you create.

        <h2>selection criteria</h2>

        The goal of ProjX is to enable students to engage in impactful and educational projects, and we will fund projects that we believe achieve this goal. Some more specific factors include:
        <ul>
          <li>Novelty and creativity</li>
          <li>Educational value</li>
          <li>Impact of ProjX support</li>
          <li>Expectation of successful completion</li>
          <li>Overall cost</li>
        </ul>
        Note that this year we are expanding to consider software projects.

        <h2>reimbursement guidelines</h2>

        Expenses that directly add value to the output of the project are eligible for reimbursement. Examples of eligible costs are electronic sensors and raw materials. Examples of ineligible costs are marketing, food, renting lab space, or costs associated with user testing. Running costs (like server, maintenance, etc.) must include a proposed time frame and have clear positive impact. Please take this into account when formulating your budget. Funding will be provided as staged reimbursements. Up to $150 will be provided after check-in one, up to $300 (including amount previously reimbursed) will be provided after check-in two, and up to the full, approved funding amount (including amount previously reimbursed) will be provided after demo event. Attendance at all check-ins and demo is required. Failure to meet the requirements will result in potential loss of funding. Such projects will be evaluated on a case-by-case basis.

        <br><br>

        Reimbursements will be processed through MIT's RFP system. Tax will not be reimbursed. However, you may use MIT's tax exemption forms to reimburse the tax. Physical proof of purchase and payment must be presented for reimbursement.

        <br>


      </div>

    </div>
  </div>
</div>
